@charset "UTF-8";
body {
  font-size: 12px;
  font-family: "微软雅黑", "宋体";
}

header {
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  zoom: 1;
  min-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header .head_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  min-width: 1280px;
  width: 100%;
  height: 75px;
  background: #090909;
}

header .head_top .head_top_div {
  float: left;
  display: inline;
  margin: 19px 0 0 50px;
  width: 297px;
  height: 39px;
  position: relative;
}

header .head_top .head_top_div .logo {
  display: block;
  width: 297px;
  height: 39px;
  z-index: 1;
  background: url(//js01.daoju.qq.com/zb/lolriotmall/pc/images/ico-menu.png) no-repeat;
  background-position: -2px -147px;
}

header .head_top .login_online {
  float: left;
  width: auto;
  height: 30px;
  position: relative;
  z-index: 2;
}

header .head_top .login_online .login_online_welcome {
  display: block;
  float: left;
  padding-right: 6px;
}

header .head_top .login_online .login_online_div {
  padding-right: 34px;
  height: auto;
  position: relative;
  cursor: pointer;
  float: left;
  display: inline;
}

header .head_top .login_online .login_online_div .login_online_div_username {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  float: left;
  padding-right: 6px;
}

header .head_top .login_online .out_btn {
  color: #a1a1a1;
  float: left;
  padding-right: 20px;
  display: block;
  position: relative;
  z-index: 2;
}

header .head_top .head_top_div3 {
  float: right;
  display: inline;
  margin: 22px 25px 0 0;
  height: 38px;
  line-height: 30px;
  color: #a1a1a1;
  position: relative;
  font-size: 14px;
  z-index: 1;
}

header .head_top .head_top_div3 .head_top_div3_a {
  color: #a1a1a1;
  float: left;
  padding-right: 20px;
  display: block;
  position: relative;
  z-index: 2;
}

header .head_top .head_top_div3 .head_top_div3_a .mcart {
  float: left;
  margin: 3px 4px 0 0;
  display: block;
  width: 28px;
  height: 25px;
  background: url(../images/ico-menu.png) no-repeat -2px -13px;
}

header .head_top .head_top_div3 .head_top_div3_a .span_number {
  margin: 7px 0 0 0;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: url(../images/ico-menu.png) no-repeat -2px -287px;
  float: right;
  padding-right: 6px;
  margin-left: 6px;
}

header .head_top .head_top_div3 .head_top_div3_div {
  float: left;
  display: inline;
  padding-right: 28px;
  height: auto;
  position: relative;
  cursor: pointer;
}

header .head_top .head_top_div3 .head_top_div3_div .mser {
  float: left;
  margin: 3px 4px 0 0;
  display: block;
  width: 24px;
  height: 26px;
  background: url(//js01.daoju.qq.com/zb/lolriotmall/pc/images/ico-menu.png) no-repeat -2px -383px;
}

header .head_top .head_top_div3 .head_top_div3_div .mwxin {
  float: left;
  margin: 5px 4px 0 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url(//js01.daoju.qq.com/zb/lolriotmall/pc/images/ico-menu.png) no-repeat -2px -42px;
}

header .head_top .head_top_div3 .head_top_div3_div .marrl {
  float: left;
  position: absolute;
  top: 12px;
  right: 25px;
  z-index: 1;
  display: block;
  width: 6px;
  height: 6px;
  background: url(//js01.daoju.qq.com/zb/lolriotmall/pc/images/ico-menu.png) no-repeat -32px 0;
}

header .head_top .head_top_div3 .head_top_div3_div .wx_div {
  width: 90px;
  height: 110px;
  position: absolute;
  top: 53px;
  left: 0;
  z-index: 999;
  border-top: 1px solid #f94915;
  display: none;
}

header .head_top .head_top_div3 .head_top_div3_div .wx_div .mwx-codebg {
  width: 90px;
  height: 110px;
  background: #000;
  opacity: 0.65;
}

header .head_top .head_top_div3 .head_top_div3_div .wx_div .mwx-codeimg {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 82px;
  height: 82px;
  overflow: hidden;
  text-indent: 0;
}

header .head_top .head_top_div3 .head_top_div3_div .wx_div .mwx-codeimg img {
  margin: 0 auto;
  width: 82px;
  height: 82px;
}

header .head_top .head_top_div3 .head_top_div3_div .wx_div p {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  line-height: 14px;
  text-align: center;
  font-size: 14px;
  color: #e7e7e7;
}

header .head_nav {
  position: fixed;
  top: 75px;
  left: 0;
  z-index: -1;
  margin: 0 auto;
  min-width: 1240px;
  width: 100%;
  height: 45px;
  background: #202020;
}

header .head_nav .head_nav_ul {
  margin: 0 20px;
  line-height: 45px;
  height: 45px;
  color: #fff;
  font-size: 14px;
  float: left;
  display: inline;
}

header .head_nav .head_nav_ul .head_nav_ul_li {
  float: left;
  padding: 0;
  position: relative;
  width: 122px;
  text-align: center;
}

header .head_nav .head_nav_ul .head_nav_ul_li a {
  display: block;
  width: 100%;
  height: 45px;
  padding: 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

header .head_nav .head_nav_ul .head_nav_ul_li a:hover {
  color: #F94915;
}

header .head_nav .head_nav_ul .head_nav_ul_li .menu-ico {
  position: absolute;
  top: 16px;
  right: 5px;
  z-index: 2;
  width: 14px;
  height: 14px;
  display: block;
}

header .head_nav .head_nav_ul .head_nav_ul_li .head_nav_ul_li_div {
  position: absolute;
  top: 45px;
  left: -23px;
  z-index: 100;
  width: 188px;
  min-height: 120px;
  height: auto;
  background: #181a20;
  border-top: 3px solid #f94915;
  overflow: hidden;
  display: none;
}

header .head_nav .head_nav_ul .head_nav_ul_li .head_nav_ul_li_div ul {
  padding: 12px 0 10px 15px;
  width: 85px;
  height: auto;
  overflow: hidden;
}

header .head_nav .head_nav_ul .head_nav_ul_li .head_nav_ul_li_div ul li {
  padding: 0;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: left;
}

header .head_nav .head_nav_ul .head_nav_ul_li .head_nav_ul_li_div ul li a {
  width: 100%;
  height: 24px;
  line-height: 24px;
  padding: 0;
  font-size: 14px;
  color: #fff;
}

header .head_nav .head_nav_ul .head_nav_ul_li .head_nav_ul_li_div ul li a:hover {
  color: #F94915;
}

header .head_nav .head_nav_ul .head_nav_ul_li .a_img {
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -40.5px;
  width: 81px;
  height: 81px;
  overflow: hidden;
  display: block;
}

header .head_nav .head_nav_ul .head_nav_ul_li .a_img img {
  width: 81px;
  height: 81px;
  background: none;
}

header .head_nav .head_nav_div {
  float: right;
  display: inline;
  margin: 8px 34px 0 0;
  height: 30px;
  position: relative;
}

header .head_nav .head_nav_div .head_nav_div_div {
  width: 285px;
  height: 38px;
  overflow: hidden;
  position: relative;
}

header .head_nav .head_nav_div .head_nav_div_div input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 2px 6px 2px 6px;
  border: 1px solid #777;
  border-right: 0px;
  font-size: 14px;
  width: 226px;
  height: 24px;
  line-height: 32px;
  color: #fff;
  background: none;
  vertical-align: middle;
}

header .head_nav .head_nav_div .head_nav_div_div a {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 30px;
  cursor: pointer;
  background: #fa4f17;
  padding: 0px;
  border: 0px;
}

header .head_nav .head_nav_div .head_nav_div_div a i {
  margin: 5px 0 0 12px;
  display: block;
  width: 21px;
  height: 21px;
  background: url(//js01.daoju.qq.com/zb/lolriotmall/pc/images/ico-menu.png) no-repeat -2px -358px;
}

.main_wrap {
  height: auto;
  padding-top: 120px;
  min-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.main_wrap .main_div {
  border-bottom: 1px solid #d7d7d7;
  min-width: 1240px;
  width: 100%;
  height: 62px;
  line-height: 62px;
  text-align: left;
}

.main_wrap .main_div a {
  float: left;
  color: #4b4b4b;
  font-size: 16px;
  display: block;
  width: auto;
}

.main_wrap .main_div i {
  float: left;
  margin: 27px 15px 0 22px;
  display: block;
  width: 7px;
  height: 10px;
  background: url(../images/ico-menu.png) no-repeat -111px 0;
}

.main_wrap .main_div2 {
  height: auto;
  padding-top: 16px;
  position: relative;
  background: #FFF;
  width: 1180px;
  margin: 0 auto;
}

.main_wrap .main_div2 .main_div2_shopBox {
  min-height: 540px;
  height: auto;
  width: 1180px;
  padding-bottom: 26px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left {
  width: 629px;
  height: 620px;
  position: relative;
  z-index: 3;
  float: left;
  display: inline;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .left_BigImg {
  margin-left: 90px;
  width: 460px;
  height: 460px;
  padding: 18px 0px 0px 0px;
  position: relative;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .left_BigImg a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  outline: 0px;
  overflow: hidden;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .left_BigImg a .fdj {
  pointer-events: none;
  width: 150px;
  height: 150px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  opacity: .4;
  display: none;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .left_BigImg a img {
  width: 460px;
  height: 440px;
  display: block;
  margin: 0px auto;
  opacity: 0;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .left_BigImg .fdj_box {
  pointer-events: none;
  position: absolute;
  width: 590px;
  height: 560px;
  left: 460px;
  bottom: -25px;
  overflow: hidden;
  display: none;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .bottom_interlayer {
  width: 570px;
  text-align: right;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .bottom_interlayer a {
  width: auto;
  font-size: 14px;
  color: #3d4145;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .left_img_option {
  position: absolute;
  top: 40px;
  left: 45px;
  z-index: 10;
  width: 35px;
  height: 180px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .left_img_option .left_img_option_div {
  margin: 0 auto;
  width: 100%;
  height: 340px;
  overflow: hidden;
  position: relative;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .left_img_option .left_img_option_div ul {
  top: 0;
  position: relative;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .left_img_option .left_img_option_div ul li {
  float: left;
  padding: 6px 0;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .left_img_option .left_img_option_div ul li a {
  display: block;
  width: 35px;
  height: 34px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_left .left_img_option .left_img_option_div ul li a img {
  display: block;
  width: 35px;
  height: 34px;
  background: none;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right {
  float: right;
  display: inline;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info {
  width: 550px;
  float: right;
  font-family: "微软雅黑", "宋体";
  margin-right: 0px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_head {
  min-height: 52px;
  height: auto;
  width: 562px;
  padding-left: 0px;
  padding-top: 14px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_head h3 {
  min-height: 42px;
  height: auto;
  padding-top: 10px;
  line-height: 42px;
  font-size: 30px;
  display: block;
  float: left;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_interlayer {
  line-height: 18px;
  padding-bottom: 16px;
  color: #3d4145;
  font-size: 16px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_pri {
  border-bottom: 1px #efefef solid;
  border-top: 1px #efefef solid;
  height: auto;
  width: 100%;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_pri .info_pri_div {
  padding-top: 10px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_pri .info_pri_div2 {
  padding-top: 12px;
  width: 600px;
  height: 27px;
  overflow: hidden;
  position: relative;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_pri .info_pri_div2 .info_pri_div2_span {
  width: auto;
  color: #3d4145;
  text-indent: 0px;
  text-align: right;
  padding-right: 12px;
  padding-bottom: 6px;
  float: left;
  display: block;
  font-size: 14px;
  padding-top: 7px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_pri .info_pri_div2 .info_pri_div2_span2 {
  color: #303030;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  height: 24px;
  margin-right: 2px;
  float: left;
  display: block;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_pri .info_pri_div2 .info_pri_div2_span2 font {
  padding-right: 3px;
  font-weight: bold;
  font-size: 20px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_interlayer2 {
  height: 54px;
  border-bottom: 1px #efefef solid;
  line-height: 22px;
  color: #3d4145;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_specifications .info_specifications_div {
  height: auto;
  padding-top: 12px;
  width: 100%;
  position: relative;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_specifications .info_specifications_div .info_specifications_div_span {
  width: auto;
  color: #3d4145;
  text-indent: 0px;
  text-align: right;
  padding-right: 12px;
  padding-bottom: 6px;
  float: left;
  display: block;
  font-size: 14px;
  padding-top: 5px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_specifications .info_specifications_div .info_specifications_div_span2 {
  height: auto;
  width: auto;
  float: left;
  color: #3d4145;
  display: block;
  font-size: 14px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_specifications .info_specifications_div .info_specifications_div_span2 ul {
  height: auto;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_specifications .info_specifications_div .info_specifications_div_span2 ul li {
  float: left;
  padding: 0px;
  margin-right: 14px;
  margin-bottom: 10px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_specifications .info_specifications_div .info_specifications_div_span2 ul li a {
  border: 1px solid #e0e0e0;
  display: block;
  height: 32px;
  float: left;
  line-height: 32px;
  background: #FFF;
  position: relative;
  cursor: pointer;
  padding: 0px 10px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div {
  padding-top: 12px;
  width: 100%;
  position: relative;
  margin-top: 5px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div .info_buy_num_div_span {
  width: auto;
  color: #3d4145;
  text-indent: 0px;
  text-align: right;
  padding-right: 12px;
  padding-bottom: 6px;
  height: 36px;
  line-height: 29px;
  float: left;
  display: block;
  font-size: 14px;
  padding-top: 5px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div .info_buy_num_div_span2 {
  width: 20px;
  height: 34px;
  border: 1px solid #dcdcdc;
  text-align: center;
  line-height: 34px;
  float: left;
  color: #3d4145;
  display: block;
  font-size: 14px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div .info_buy_num_div_span2 a {
  color: #000;
  cursor: pointer;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div .info_buy_num_div_span3 {
  height: 36px;
  line-height: 29px;
  float: left;
  color: #3d4145;
  display: block;
  font-size: 14px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div .info_buy_num_div_span3 input {
  height: 34px;
  line-height: 34px;
  width: 48px;
  font-size: 14px;
  text-align: center;
  border: 0px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  margin-left: 0px;
  margin-right: 0px;
  vertical-align: middle;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div .info_buy_num_div_span4 {
  width: 20px;
  height: 34px;
  border: 1px solid #dcdcdc;
  text-align: center;
  line-height: 34px;
  float: left;
  color: #3d4145;
  display: block;
  font-size: 14px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div .info_buy_num_div_span4 a {
  cursor: pointer;
  color: #000;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div2 {
  padding-top: 15px;
  border-top: 1px #efefef solid;
  height: 70px;
  border-bottom: 1px #efefef solid;
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div2 .info_buy_num_div2_span {
  width: auto;
  color: #3d4145;
  text-indent: 0px;
  text-align: right;
  padding-right: 12px;
  padding-bottom: 6px;
  float: left;
  display: block;
  font-size: 14px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div2 .info_buy_num_div2_span2 {
  float: left;
  color: #3d4145;
  display: block;
  font-size: 14px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div2 .info_buy_num_div2_span2 a {
  width: 158px;
  height: 48px;
  line-height: 48px;
  color: #FFF;
  display: block;
  background: #ed3029;
  font-size: 18px;
  text-align: center;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div2 .info_buy_num_div2_span3 {
  float: left;
  color: #3d4145;
  display: block;
  font-size: 14px;
  padding-left: 10px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div2 .info_buy_num_div2_span3 a {
  width: 133px;
  padding-left: 35px;
  height: 48px;
  line-height: 48px;
  color: #FFF;
  display: block;
  background-color: #00a989;
  font-size: 18px;
  text-align: center;
  position: relative;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div2 .info_buy_num_div2_span3 a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 48px;
  background: #018d73;
  float: left;
  color: #3d4145;
  display: block;
  font-size: 14px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div2 .info_buy_num_div2_span3 a span i {
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 1;
  width: 19px;
  height: 15px;
  background: url(../images//ico-detail.png) no-repeat -2px -104px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div2 .info_buy_num_div2_div {
  position: absolute;
  top: 32px;
  right: 0;
  z-index: 1;
  zoom: 1;
  overflow: auto;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .info_buy_num .info_buy_num_div2 .info_buy_num_div2_div a {
  background: url(../images/xihuan.jpg) -3px -3px no-repeat;
  text-indent: 20px;
  color: #666;
  float: left;
  display: inline;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .customer_service {
  padding-top: 12px;
  width: 100%;
  position: relative;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .customer_service ul {
  width: 100%;
  height: 45px;
  line-height: 45px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .customer_service ul li {
  float: left;
  height: 25px;
  line-height: 25px;
  width: 33.33%;
  font-size: 14px;
  color: #3d4145;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .customer_service ul li span {
  margin: 4px 3px 0 0;
  display: block;
  width: 17px;
  height: 16px;
  float: left;
  color: #3d4145;
  font-size: 14px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .customer_service ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .customer_service ul li .li_span {
  background: url(../images/ico-detail.png) no-repeat -2px -2px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .customer_service ul li .li2_span {
  background: url(../images/ico-detail.png) no-repeat -2px -22px;
}

.main_wrap .main_div2 .main_div2_shopBox .main_div2_shopBox_right .main_div2_shopBox_right_div .shop_info .customer_service ul li .li3_span {
  background: url(../images/ico-detail.png) no-repeat -2px -42px;
}
